@model IEnumerable<EmployeeViewModel>
<div class="d-flex justify-content-between" >
<h2>Employees</h2>
<a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Job Role</th>
            <th>Gender</th>
            <th>Start Date</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.JobRole</td>
                <td>@item.Gender</td>
                <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
